{% extends 'base.html.twig' %}


{% block title %}default{% endblock %}


{% block body %}

<h1>{{ website }} index</h1>
<button class="btn btn-primary">test</button>
<img src="{{ asset('build/images/logo.png') }}" alt=""/>
{% endblock %}

